%% -*- mode: erlang; fill-column: 72; comment-column: 48; -*-
{sub_dirs, ["rel"]}.
{deps, [
        {webmachine, ".*", {git, "git://github.com/basho/webmachine.git", "master"}},
	{erlydtl, ".*", {git, "git://github.com/OJ/erlydtl.git", "master"}}
       ]
}.
{edoc_opts, [{private, false}]}.
{erl_opts, [debug_info, export_all]}.
{require_otp_vsn, "R15"}.
